:root {
  --primary-color: #21092f;
  --light-grey-violet: #dedddf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* max-width: 1200px; */
  background-color: white;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  color: var(--text-primary);
}
